body {
    background: #111827;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 80px;
}

.box {
    background: #1f2937;
    width: 300px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
}

button {
    margin-top: 25px;
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background: #2563eb;
    color:white;
    font-size:18px;
}
